doctype html
html
  head
    title MS Dance Academy
    style
      include ../static/style.css
body 
    nav.navbar 
        ul 
            #logo 
                img(src="static/mainlogo.png", alt="", srcset="")

            li #[a(href="/") HOME]
            li #[a(href="/") SERVICES]
            li #[a(href="/") CLASS INFO]
            li #[a(href="/") CONTACT US]
section.main-section 
    div WELCOME TO MS DANCE ACADEMY 
    div#small EAT SLEEP DANCE REPEAT
section.our-mission 
    h2 OUR MISSION 
    div.cards 
        h3 Perfection
        .card-content 
            img(src="static/img2.png", alt="error", srcset="")
            
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati optio consectetur, similique, maxime adipisci ullam, hic nesciunt harum ex voluptate sequi? Eveniet mollitia deserunt et? 
    div.cards 
        h3 Dicipline 
        .card-content 
            img(src="static/img4.png", alt="", srcset="")

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sed eligendi adipisci sint! Numquam ut reiciendis ducimus tempora totam perspiciatis dicta!
    div.cards 
        h3 Consistency
        .card-content 
            img(src="static/img5.png", alt="", srcset="")

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempore quas modi laborum, accusantium commodi deserunt voluptatem quasi in dolores? Nesciunt, unde officia. 
section.sponsor-section
    h3 OUR SPONSORS
          div
            img(src="static/instagram.png", alt="", srcset="")
         
            img(src="static/twitter.png", alt="", srcset="")
          
            img(src="static/watsapp.png", alt="", srcset="")
footer.foot 
    | Copyright 2019 MS Dance Academy | All Rights Reserved